.Problem_UserName>p:nth-child(2){
  font-size:15px;
  color:#898989;
}
.Problem_UserName>p:nth-child(1){
  font-size:15px;
  color:#898989;
  margin-bottom: 45px;
  margin-top: 15px;
}
.Problem_UserName{
  width: 50%;
  height: 110px;
  text-align: right;
  padding-right: 15px;
}
.proble_body_div>ul{
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.proble_body_div>ul>li{
  height: auto !important;
  border:1px solid #15bafe;
  color:#15bafe;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
}
.proble_body_div{
  width: 80%;
  margin-left: 40px;
}
.proble_body{
  width: 55%;
  height:110px;
  border-left:8px solid #FFF;
  display: flex;
}
.proble_body>ul{
  height: 110px;
}
.proble_body>ul>li{
  width: 65px;
  padding: 0 !important;
  font-size:18px;
  display: flex;
  line-height: 38px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e7e7;
  text-align: left;
  margin-left: 30px;
}
.proble_body>ul>li:nth-child(3){
  border-bottom: 0;
}
.proble_body>ul>li>span{
  position: relative;
  top:0px !important;
}
.proble_body>ul>li>div{
  display: flex;
  align-items: center;
  width: 28px !important;
}
.proble_body>ul>li>span{
  position: relative;
  top:-4.1px;
}
.Problemsection{
  width: 1200px;
  height: auto !important;
  margin: 0 auto;
  margin-left: 120px;
  float: left;
}
.Problemsection>ul>li{
  width: 100%;
  height: 178px;
  padding-top: 35px;
  display: flex;
  cursor: pointer;
}
.proble_body_div>p:nth-child(1){
  font-weight:800;
  font-size:20px;
}
.proble_body_div>p:nth-child(2){
  margin-top: 5px;
}
