.recruitment header{
  margin: 0 auto !important;
}

.recruitment_box{
  position: relative;
  display: flex;
  height: 650px;
}

.recruitment_box_bg{
  position: absolute;
  top: 0;
  left: -600px;
  width: 700px;
  height: 460px;
  background: url("/static/img/recruitment_bg.png") no-repeat;
  background-size: contain;
}


/*左侧信息*/
.recruitment_left{
  padding-top: 100px;
  padding-left: 60px;
}


/*标题*/
.recruitment_left_title{
  margin-bottom: 20px;
}

.recruitment_left_title span{
  font-size: 18px;
  color: #222;
  letter-spacing: 1em;
}
.recruitment_left_title p{
  font-size: 50px;
  color: #15bafe;
  text-transform: uppercase;
  width: 350px;
}

/*邮箱*/
.recruitment_left_text{
  width: 170px;
  padding-top: 30px;
  padding-right: 15px;
  border-top: 2px solid #47494c;
  text-align: justify;
  line-height: 30px;
}
.recruitment_left_text p{
  font-size: 14px;
  color: #999;
}
.recruitment_left_text p:last-child{
  color: #15bafe;
}



/*城市*/
.recruitment_left_city{
  margin-top: 25px;
  width: 110px;
}
.recruitment_left_city .el-input__inner{
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 0 !important;
  border:1px solid #15bafe !important;
}
.recruitment_left_city .el-input__icon{
  line-height: 30px !important;
  color: #fff !important;

}
.recruitment_left_city .el-input__suffix{
  right: 0 !important;
  background-color: #15bafe !important;
  width: 40px !important;
}


/*右侧tab页*/
.recruitment_right{
  padding-top: 100px;
  position: relative;
  padding-left: 50px;
}

.recruitment_right .el-tabs__active-bar{
  background-color: transparent !important;
}
.recruitment_right .el-tabs--left .el-tabs__item{
  text-align: left !important;
  font-size: 14px !important;
  color: #999 !important;
  height: 35px !important;
  line-height: 35px !important;
  text-transform: uppercase;
}
.recruitment_right .el-tabs__item.is-active{
  color: #15bafe !important;
}
.recruitment_right .el-tabs--left{
  overflow: unset !important;
}
.recruitment_right .el-tabs--left .el-tabs__header.is-left{
  position: absolute;
  top: 285px;
  left: -180px;
}
.recruitment_right .el-tabs--left .el-tabs__active-bar.is-left,
.recruitment_right .el-tabs--left .el-tabs__nav-wrap.is-left::after{
  display: none !important;
}



.recruitment_tab{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.recruitment_tab_left{
  width: 40%;
  height: 100%;
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.recruitment_tab_left h2{
  font-size: 18px;
  color: #222;
  font-weight: normal;
  margin-bottom: 30px;
}
.recruitment_tab_left p{
  font-size: 14px;
  color: #666;
  line-height: 30px;
}

.recruitment_tab_right{
  width: 60%;
  height: 100%;
  background: url("/static/img/recruitment_tab_right.png") center bottom no-repeat;
  padding-top: 45px;
  padding-left: 25px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
}
