.span_clic a{
  font-size:13px;
  color:#6b6d6f !important;
  float: right;
  position: relative;
  top:9px;
}
body{
  max-width:100%;
  height: 1200px;
  background-image:url(/static/BackImg.jpg);
  background-size:cover;
  overflow: hidden;
}
.Odiv_magrint{
  position:relative;
  top:240px;
}
.UserForm{
  width: 100%;
}
.BackImg{
  width: 523px;
  padding-bottom: 20px;
  background-color:rgb(0,0,0,0.5);
  margin: 0 auto;
  text-align: center;
  padding-top:22px;
  position: relative;
  top:13%;
}
.title_logo{
  width: 100%;
  text-align: center;
}
.title_logo span{
  font-size:22px;
  color:#FFF;
  margin-left:10px;
}
.title_logo img{
  position: relative;
  top:4px;
}
.User_Input{
  width: 65%;
  border-bottom: 1px solid #9c9c9c;
  margin:0 auto;
  position: relative;
  text-align: left;
  margin-top: 25px;
}
.User_Input input{
  position: relative;
  top:-5px;
  padding:5px;
  background-color:transparent;
  border:1px solid transparent;
  color:#9c9c9c;
}
.Fuc-Code{
  width: 100%;
  width: 65%;
  margin:0 auto;
  color:#9c9c9c;
  font-size:14px;
  text-align: left;
  margin-top: 15px;
}
.rea_Code{
  width: 130px;
  border-radius: 5px;
  padding:7px;
  background-color:#101215;
  border:2px solid #45494c;
  margin-top: 5px;
  float: left;
  margin-right:10px;
}
.Code_div{
  width: 80px !important;
  width: auto;
  float: left;
  margin-top: 4px;
  margin-left:10px;
}
.btn_submit{
  float: right;
  padding:7px 25px 7px 25px;
  background-color: #15bafe;
  border-radius: 5px;
  color:#FFF;
  border:1px solid #15bafe;
  margin-top: 4px;
}
.Thirdparty{
  width: 65%;
  margin:0 auto;
  margin-top: 15px;
  margin-bottom:15px;
}
.Thirdparty ul{
  display: flex;
  padding-left: 95px;
}
.Thirdparty ul li{
  width: 21%;
  text-align:center;
  margin-top: 10px;
}
.Login_Thirdparty{
  width: 65%;
  margin:0 auto;
}
.Login_Thirdparty ul{
  display: flex;
  /*padding-left: 95px;*/
}
.Login_Thirdparty ul li{
  width: 50%;
  color:#9c9c9c;
  font-size:12px;
  text-align:center;
  margin-top: 10px;
}
/*----------------RetrieveCont---------------------*/
.RetrieveCont{
  width: 95%;
  margin:0 auto;
  text-align: left;
  position: relative;
  top:-10px;
}
.RetrieveCont span{
  position: relative;
  top:-2px;
  color:#9c9c9c;
}
.Code_input{
  margin-left: 20px;
}
#Iphone{
  margin-left: 25px !important;
}
.RetrieveCont_title{
  text-align: left;
  width: 75%;
  border-left:5px solid #15bafe;
  margin:0 auto;
  color:#FFF;
  font-size:20px;
}
.RetrieveCont_title span{
  margin-left:15px;
}
.RetrieveCont_Input{
  width: 75%;
  margin:0 auto;
  text-align: left;
}
.input_user{
  width:380px !important;
  color:#FFF;
  height:35px;
  padding:7px;
  background-color:rgb(14,16,19,0.8);
  border:1px solid #6b6d6f;
  border-radius: 5px;
  margin-top: 30px;
}
.Code{
  width:160px !important;
  float: left;
}
.Block_btn{
  padding: 10px;
  background-color: #000;
  color:#FFF;
  border:1px solid #000;
  border-radius: 5px;
  margin-top: 30px;
  margin-left:15px;
}
.RetrieveCont_Submin{
  width: 75%;
  margin: 0 auto;
  margin-top:40px;
  text-align: right;
}
.Fuc-NoneBtn{
  border:1px solid #15bafe;
  padding: 5px;
  background-color:rgb(14,16,19,0.8);
  color:#FFF;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}
.Fuc-Form-submit{
  background-color: #15bafe;
  margin-left:25px;
}
.ContIname div{
  font-size:13px;
  color:red;
  margin-top: 10px;
}
.ContIname_cont div{
  font-size:13px;
  color:red;
  margin-left: 40px;
  position: relative;
  top:10px;

}
.ContTop{
  top:10% !important;
}
/*-----------*/
#Contsc{
  border:1px solid #15bafe;
  padding: 5px;
  color:#FFF;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #15bafe;
  margin-left:25px;
}
.backNone{
  background-color:rgb(0,0,0,0.8);
}
.NewPasswrod_title{
  position: relative;
  top:20px;
  margin-bottom: 15px;
}
#Fuc-NewPasswrod{
  border:1px solid #15bafe;
  padding: 5px;
  background-color:rgb(14,16,19,0.8);
  color:#FFF;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #15bafe !important;
  margin-left:25px;
}
.Logo_left{
  float: left;
  margin-top:42px;
}
.contPass_input,.passwrod_input,.email_input,.templa_input,.Name_input{
  width: 300px !important;
  margin-left:20px;
}
#ContIdPassd{
  margin-top: 20px;
}
